*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 20px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

form textarea {
  resize: none;
  height: 80px;
}

form button {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background: #555;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}


.container {
  width: 90%;
  margin: 20px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table thead th {
  background: #333;
  color: #fff;
  text-align: left;
  padding: 10px;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.booking{
  font-size: 2rem;
  font-weight: 600;
}